<div class="row about">
  <div class="col-md-4 col-md-offset-2">
    <h2>Contact the Mocha-House team!</h2>
    <img src="/assets/img/contact.jpg" class="img-responsive">
  </div>
  <div class="col-md-4 github">
    <p>
      <a href="https://github.com/ianjravin" target="_blank">View Ian Jravin's GitHub</a>
    </p>

  </div>
</div>
